.App {
    text-align: center;
  }

.pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;

}

.container{
  background-color: rgb(212, 211, 154);
}

.card-individual{
  background-color: rgb(211, 205, 119);
  margin: 10px;
}

.hideData{
  display: none;
}